<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    
    <link rel="stylesheet" href="./Styles/home.css">
    <link rel="stylesheet" href="./Styles/index.css">
    <script src="https://kit.fontawesome.com/a8c305d3e9.js"></script>
    
</head>
<body>
    <main>
        <div class="logo-container">
            <img src="./Assets/logo2.png" alt="logo">
        </div>
        <div>
            <form action="" method="post">
                <input type="email" name="user-email" id="user-email" placeholder="Enter Email">
                <input type="password" name="user-password" id="user-password" placeholder="Enter Password">
                <input type="submit" value="LOGIN">
            </form>
            <p>or</p>
            <h5>Sign up with Google</h5>
        </div>
    </main>  
</body>
</html>