<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Notification Page</title>
        
        <link rel="stylesheet" href="./Styles/home.css">
        <script src="https://kit.fontawesome.com/a8c305d3e9.js"></script>
        
</head>
<body>
        <header>
                <div class="fas fa-bars menu-icon"></div>
                <div class="user-profile">
                        <div class="fas fa-times menu-close-btn" title="Close"></div>
                        <ul class="menu-links">
                                <li class="user-img">
                                        <i class="fas fa-user-circle"></i>
                                </li>
                                <li class="user-name">Jone Mendel</li>
                                <li class="logout-btn">
                                        <button>LogOut</button>
                                </li>
                        </ul>
                </div>
        </header>
        <main>
                <h2 class="main-heading">Notification</h2>
        </main>
        <footer>
                <ul class="footer-menu">
                        <li class="footer-menu-item active">
                                <a href="notification.html"><i class="fas fa-bell"></i></a>            
                        </li>
                        <li class="footer-menu-item">
                                <a href="home.html"><i class="fas fa-home"></i></a>            
                        </li>
                        <li class="footer-menu-item">
                                <a href="chat.html"><i class="fas fa-comment-dots"></i></li></a>            
                        </li>
                </ul>
        </footer>
        <script src="./Scripts/home.js"></script>
</body>
</html>